## Deliverable 3. Create a Travel Itinerary Map.

In [50]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [51]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,18,Comodoro Rivadavia,AR,85.86,clear sky,-45.8667,-67.5000,Austral Hotel
1,44,Gracias,HN,86.02,clear sky,14.5833,-88.5833,Guancascos´Hotel & Restaurant
2,96,Trelew,AR,87.78,overcast clouds,-43.2490,-65.3051,Hotel Touring Club
3,191,Sangre Grande,TT,86.90,broken clouds,10.5835,-61.1177,Lotus drive
4,192,Cabedelo,BR,86.67,broken clouds,-6.9811,-34.8339,Hotel Pigalle

In [52]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Description</dt><dd>{Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [53]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["Lat"]==-6.9811) & \
                 (vacation_df["Lng"]==-34.8339)]
vacation_end = vacation_df.loc[(vacation_df["Lat"]==-6.9811) & \
                 (vacation_df["Lng"]==-34.8339)]
vacation_stop1 = vacation_df.loc[(vacation_df["Lat"]==-5.1989) & \
                 (vacation_df["Lng"]==-35.4608)]
vacation_stop2 = vacation_df.loc[(vacation_df["Lat"]==-7.1981) & \
                 (vacation_df["Lng"]==-37.9292)] 
vacation_stop3 = vacation_df.loc[(vacation_df["Lat"]==-7.2597) & \
                 (vacation_df["Lng"]==-34.9075)]

In [44]:
print(vacation_start)
print(vacation_end)
print(vacation_stop1)
print(vacation_stop2)
print(vacation_stop3)

   City_ID      City Country  Max Temp    Description     Lat      Lng  \
4      192  Cabedelo      BR     86.67  broken clouds -6.9811 -34.8339

      Hotel Name
4  Hotel Pigalle
   City_ID      City Country  Max Temp    Description     Lat      Lng  \
4      192  Cabedelo      BR     86.67  broken clouds -6.9811 -34.8339

      Hotel Name
4  Hotel Pigalle
   City_ID    City Country  Max Temp       Description     Lat      Lng  \
6      248  Touros      BR      86.9  scattered clouds -5.1989 -35.4608

        Hotel Name
6  INN NEW HORIZON
    City_ID    City Country  Max Temp       Description     Lat      Lng  \
12      327  Pianco      BR     87.44  scattered clouds -7.1981 -37.9292

   Hotel Name
12  Via hotel
    City_ID   City Country  Max Temp    Description     Lat      Lng  \
22      573  Conde      BR     85.46  broken clouds -7.2597 -34.9075

            Hotel Name
22  Pousada Beija Flor

In [45]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]

In [46]:
import gmaps
import gmaps.datasets
# Import the API key.
from config import g_key
gmaps.configure(api_key='g_key')
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
fig = gmaps.figure()
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
directions = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
frames = [vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3]
itinerary_df = pd.concat(frames,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,192,Cabedelo,BR,86.67,broken clouds,-6.9811,-34.8339,Hotel Pigalle
1,192,Cabedelo,BR,86.67,broken clouds,-6.9811,-34.8339,Hotel Pigalle
2,248,Touros,BR,86.90,scattered clouds,-5.1989,-35.4608,INN NEW HORIZON
3,327,Pianco,BR,87.44,scattered clouds,-7.1981,-37.9292,Via hotel
4,573,Conde,BR,85.46,broken clouds,-7.2597,-34.9075,Pousada Beija Flor

In [48]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Description</dt><dd>{Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [49]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))